*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
     margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: gray;
    background-image: url(./image/background.jfif);
    background-size: cover;
     background-position: center;
}
.sun{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    margin-top: -60px;
    margin-left: -60px;
}
.sun img{
    width: 100%;
}
.orbit{
    position: absolute;
    border: 1px solid white;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.orbit1{
    width: 200px;
    height: 200px;
}
.orbit2{
    width: 280px;
    height: 280px;
}
.orbit3{
    width: 360px;
    height: 360px;
}
.orbit4{
    width: 440px;
    height: 440px;
}
.orbit5{
    width: 560px;
    height: 560px;
}
.orbit6{
    width: 680px;
    height: 680px;
}
.orbit7{
    width: 800px;
    height: 800px;
}
.orbit8{
    width: 920px;
    height: 920px;
}
.mercury{
    position: absolute;
    left: 50%;
    top: 50%;
    animation: spin 8s linear infinite;
}
.mercury img{
    position: absolute;
    width: 25px;
    left: 88px;
    top: -12px;
}

.venus{
    position: absolute;
    left: 50%;
    top: 50%;
    animation: spin 14s linear infinite;
}
.venus img{
    position: absolute;
    width: 40px;
    left: 120px;
    top: -20px;
}

.earth{
    position: absolute;
    left: 50%;
    top: 50%;
    animation: spin 20s linear infinite;
}
.earth img{
    position: absolute;
    width: 42px;
    left: 159px;
    top: -21px;
}

.mars{
    position: absolute;
    left: 50%;
    top: 50%;
    animation: spin 28s linear infinite;
}
.mars img{
    position: absolute;
    width: 32px;
    left: 204px;
    top: -16px;
}

.jupiter{
    position: absolute;
    left: 50%;
    top: 50%;
    animation: spin 40s linear infinite;
}
.jupiter img{
    position: absolute;
    width: 80px;
    left: 240px;
    top: -40px;
}

.saturn{
    position: absolute;
    left: 50%;
    top: 50%;
    animation: spin 52s linear infinite;
}
.saturn img{
    position: absolute;
    width: 100px;
    left: 290px;
    top: -50px;
}

.uranus{
    position: absolute;
    left: 50%;
    top: 50%;
    animation: spin 66s linear infinite;
}
.uranus img{
    position: absolute;
    width: 55px;
    left: 372px;
    top: -27px;
}

.neptune{
    position: absolute;
    left: 50%;
    top: 50%;
    animation: spin 80s linear infinite;
}
.neptune img{
    position: absolute;
    width: 52px;
    left: 434px;
    top: -26px;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}